.layout-breadcrumb-container {
    margin: 0 -2rem;
    width: calc(100% + 4rem);
    padding: 0.75rem 2rem;
    background-color: var(--surface-card);
    border-bottom: 1px solid var(--surface-border);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;

    // Đổ bóng nhẹ hiện đại
    box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;

    // Style chi tiết cho PrimeNG breadcrumb
    p-breadcrumb {
        nav.p-breadcrumb {
            ol.p-breadcrumb-list {
                margin-left: -1rem;
                font-size: 14px;
                font-weight: 500;
                font-family: inherit;
                color: var(--text-color-secondary);

                li.p-breadcrumb-item {
                    a {
                        color: var(--primary-color);
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .p-menuitem-separator {
                    margin: 0 0.5rem;
                }
            }
        }
    }
}
