.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 4rem 2rem 0 2rem;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

img {
    max-width: none !important;
}

:root {
    --header-height: 64px;
    --breadcrumb-height: 64px;
    --footer-height: 90px;
}
.page-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - var(--header-height) - var(--breadcrumb-height) - var(--footer-height));
    background: var(--surface-card);
    border-radius: var(--content-border-radius);
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
